*{
    box-sizing: border-box;
}

body{
    background-color: #f2edf3;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul{
    list-style:none;

}

table{
    min-width: 310px;
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    text-align: center;
    overflow: hidden;
    border-radius:20px;
    line-height: 30px;
}


td:first-child{
    text-align: left;
}

td{
    padding: 10px;

}

tr{
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
}




tr:hover{
    cursor: pointer;
    color: gray;
}

.priceValue{
    font-size: 2em;
}


.btn {
    padding: 8px 25px;
    background-color: #d3d3d3;
    border: 1px solid gray;
    outline: none;
    text-transform: uppercase;
}
.styleHeader {
    color: white;
    font-weight: bold;
}
tr:nth-child(2n+1) {
    background-color: #dbdbdb;
}

tr:nth-child(2n){
    background-color: #ececec;
}

tr:nth-child(2n+1) td:nth-child(2n){
    background-color: #e7e7e7;
}

tr:nth-child(2n) td:nth-child(2n){
    background-color: #f3f3f3;
}

th:nth-child(1){
    background: #7887ab;
}

th:nth-child(2){
    background:#4f628e;
}

th:nth-child(3){
    background: #2e4172;
}

th:nth-child(4){
    background:  #162955;
}
th:nth-child(5){
    background: #061539;
}
/*
    background: linear-gradient(to right,
    #7887ab 0%,      #7887ab 32%,
    #4f628e 32%,     #4f628e 50.5%,
    #2e4172 50.5%,   #2e4172 67%,
    #162955 67%,     #162955 83.5%,
    #061539 83.5%,   #061539 100%);

*/